.bloglist-container {
  display: flex;
  .bloglist-left {
    flex-basis: 80%;
  }

  .bloglist-right {
    flex-basis: 20%;
  }
  .entry {
    position: relative;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.85;
  }
  .entry-media {
    position: relative;
    padding-top: 48.11%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-image: linear-gradient(#f4f4f4 250px, transparent 0);
      background-size: cover;
      background-position: 50%;
      background-color: #f4f4f4;

      img {
        display: block;
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
