.trendy-collention {
  overflow: hidden;
}

.bulets {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;

  li {
    position: relative;
    padding: 5px;

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      border: 1px solid #d7d7d7;
    }

    &.active::before {
      width: 18px;
      background-color: #ccc;
      border-color: #ccc;
      border-radius: 30px;
    }
  }
}

.product-container.trendy {
  flex-direction: row;
  flex-wrap: nowrap;

  & > * {
    min-width: 25%;

    @media (max-width: $md) {
      min-width: 33.333%;
    }

    @media (max-width: $sm) {
      min-width: 50%;
    }
  }
}
