.product-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > * {
    width: calc(25% - 12px);
    margin-right: 12px;

    @media (max-width: $md) {
      width: calc(50% - 12px);
    }
  }
}
