footer {
  background-color: #333;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > * {
    flex: 1;

    @media (max-width: $sm) {
      width: 50%;
      flex: none;

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }

    @media (max-width: $xsm) {
      width: 100%;
      flex: none;
    }
  }

  ul li:not(:last-child) {
    margin-bottom: 5px;
  }

  img {
    width: 120px;
    margin-bottom: 25px;
  }

  .widget-title {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: var(--white);
    margin-bottom: 25px;
  }

  p,
  a {
    font-size: 14px;
    line-height: 26px;
    color: var(--gray);
  }

  a:hover {
    color: var(--yellow);
  }
}
